<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctorapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:name=".SetNotification.NotificationExr"
        android:roundIcon="@mipmap/main_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorApp">
        <activity
            android:name=".AppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorBlogActivity"
            android:exported="false" />
        <activity
            android:name=".BlogActivity"
            android:exported="false" />
        <activity
            android:name=".Answer_DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".AnswerActivity"
            android:exported="false" />
        <activity
            android:name=".SuggestionActivity"
            android:exported="false" />
        <activity
            android:name=".PharmacyActivity"
            android:exported="false" />
        <activity
            android:name=".DiagnosticItemActivity"
            android:exported="false" />
        <activity
            android:name=".DiagnosticActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAmbulanceActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHospitalActivity"
            android:exported="false" />
        <activity
            android:name=".AdminProductActivity"
            android:exported="false" />
        <activity
            android:name=".AddminHealthActivity"
            android:exported="false" />
        <activity
            android:name=".SentPrescriotionForemActivity"
            android:exported="false" />
        <activity
            android:name=".Em_Presctiption_detailsActivity"
            android:exported="false" />
        <activity
            android:name=".Doctor_WatingActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_allDoctor_detailsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Doctor_MainActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_post_image_slider_Activity"
            android:exported="false" />
        <activity
            android:name=".AdminHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSignInActivity"
            android:exported="false" />
        <activity
            android:name=".Main_Home_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessageWithPatientMainActivity"
            android:exported="false" />
        <activity
            android:name=".Home_Doctor_Activity"
            android:exported="false" />
        <activity
            android:name=".RegActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service android:name=".SetNotification.MyFirebaseMessaging"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>